<button class="sidenav-toggle">☰ Menu</button>
<nav id="sideNav" class="sidenav">
  <ul class="sidenav-list">
    <!-- Root pages -->
    <li><a href="index.html">Home</a></li>
    <li><a href="map.html">Map</a></li>

    <!-- Countries dropdown -->
    <li class="countries-item">
      <button class="expand-btn">Countries ▾</button>
      <ul class="countries-list">
        <!-- Link for root pages: countries/uk.html -->
        <!-- script.js will adjust this link automatically for subfolder pages -->
        <li><a href="countries/uk.html">United Kingdom</a></li>
        <!-- Add more countries here -->
      </ul>
    </li>
  </ul>
</nav>
